IIB_PromoPrices_SOAP_SVC/source/IIB_UniversalItemID_SOAP_LIB/ItemInformationService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ItemInformationService" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/http/UID/UniversalItemID/ItemInformationService" xmlns:msg_in_out="http://xmlns.saksinc.com/CommonModules/UniversalItemID" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/http/UID/UniversalItemID/ItemInformationService">
    <wsdl:documentation>
        <abstractWSDL>http://jxn-ux-fusion11q.saksinc.com:8001/soa-infra/services/CommonModules/UniversalItemID!5.5/ItemInformationService.wsdl</abstractWSDL>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="false" name="retrieveBorderSKNInfo_ptHttpGET" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="true" name="retrieveBorderSKNInfo_pttBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
    <plt:partnerLinkType name="retrieveBorderSKNInfo_plt">
        <plt:role name="retrieveBorderSKNInfo_role">
            <plt:portType name="tns:retrieveBorderSKNInfo_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.saksinc.com/CommonModules/UniversalItemID" schemaLocation="UniversalItemID.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RetrieveByBorderSKNRequest_msg_in">
        <wsdl:part element="msg_in_out:RetrieveByBorderSKNRequest" name="RetrieveByBorderSKNRequest"/>
    </wsdl:message>
    <wsdl:message name="RetrieveByBorderSKNResponse_msg_out">
        <wsdl:part element="msg_in_out:RetrieveByBorderSKNResponse" name="RetrieveByBorderSKNResponse"/>
    </wsdl:message>
    <wsdl:message name="FaultMessage">
        <wsdl:part element="msg_in_out:UniversalItemIDFault" name="FaultPart"/>
    </wsdl:message>
    <wsdl:portType name="retrieveBorderSKNInfo_ptt">
        <wsdl:operation name="retrieveBorderSKNInfo">
            <wsdl:input message="tns:RetrieveByBorderSKNRequest_msg_in"/>
            <wsdl:output message="tns:RetrieveByBorderSKNResponse_msg_out"/>
            <wsdl:fault message="tns:FaultMessage" name="Fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="retrieveBorderSKNInfo_pttBinding" type="tns:retrieveBorderSKNInfo_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="retrieveBorderSKNInfo">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="retrieveBorderSKNInfo_ptHttpGET" type="tns:retrieveBorderSKNInfo_ptt">
        <http:binding xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" verb="GET"/>
        <wsdl:operation name="retrieveBorderSKNInfo">
            <http:operation xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" />
            <wsdl:input>
                <http:urlEncoded xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ItemInformationService">
        <wsdl:port binding="tns:retrieveBorderSKNInfo_pttBinding" name="retrieveBorderSKNInfo_pt_soappt">
            <soap:address location="http://jxn-ux-fusion11q.saksinc.com:8001/soa-infra/services/CommonModules/UniversalItemID/ItemInformationService"/>
        </wsdl:port>
        <wsdl:port binding="tns:retrieveBorderSKNInfo_ptHttpGET" name="retrieveBorderSKNInfo_pt">
            <http:address xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" location="http://jxn-ux-fusion11q.saksinc.com:8001/soa-infra/services/CommonModules/UniversalItemID/ItemInformationService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>