IIB_POSLocator_LTItemInfo_SOAP_SVC/source/IIB_UniversalItemID_SOAP_LIB/RetrieveInfoBySSN.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.saksinc.com/CommonModules/UniversalItemID/RetrieveInfoBySSN" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ridgc="http://xmlns.saksinc.com/CommonModules/UniversalItemID/RetrieveInfoBySSN" xmlns:uidtyp="http://xmlns.saksinc.com/CommonModules/UniversalItemID/Types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <import namespace="http://xmlns.saksinc.com/CommonModules/UniversalItemID/Types" schemaLocation="UniversalItemIDTypes.xsd"/>
    <xsd:element ibmSchExtn:docRoot="true" name="RetrieveInfoBySSNRequest" type="uidtyp:RetrieveInfoBySSNRequestType">
        <xsd:annotation>
            <xsd:documentation>A sample element</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <element ibmSchExtn:docRoot="true" name="RetrieveInfoBySSNResponse" type="ridgc:RetrieveItemInfoBySSNOutputCollection"/>
    <complexType name="RetrieveItemInfoBySSNOutputCollection">
        <sequence maxOccurs="unbounded">
            <element maxOccurs="unbounded" minOccurs="0" name="RetrieveInfoBySSNOutput" type="uidtyp:RetrieveInfoBySSNResponseType"/>
        </sequence>
    </complexType>
    <element ibmSchExtn:docRoot="true" name="RetrieveInfoBySSNFault" type="uidtyp:UniversalItemIDFaultType"/>
</schema>