IIB_POSLocator_LTItemInfo_SOAP_SVC/source/IIB_UniversalItemID_SOAP_LIB/RetrieveByDeptClass.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.saksinc.com/CommonModules/UniversalItemID/RetrieveByIDandChain" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ridgc="http://xmlns.saksinc.com/CommonModules/UniversalItemID/RetrieveByIDandChain" xmlns:uidtyp="http://xmlns.saksinc.com/CommonModules/UniversalItemID/Types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <import namespace="http://xmlns.saksinc.com/CommonModules/UniversalItemID/Types" schemaLocation="UniversalItemIDTypes.xsd"/>
    <element ibmSchExtn:docRoot="true" name="RetrieveByDeptClassRequest" type="uidtyp:RetrieveByDeptClassRequestType"/>
    <element ibmSchExtn:docRoot="true" name="RetrieveByDeptClassResponse" type="ridgc:RetrieveItemInfoByDeptClassOutputCollection"/>
    <complexType name="RetrieveItemInfoByDeptClassOutputCollection">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="RetrieveItemInfoByDeptClassOutput" type="uidtyp:RetrieveByDeptClassResponseType"/>
        </sequence>
    </complexType>
    <element ibmSchExtn:docRoot="true" name="RetrieveByDeptClassFault" type="uidtyp:UniversalItemIDFaultType"/>
</schema>