IIB_POSLocator_LTItemInfo_SOAP_SVC/source/IIB_UniversalItemID_SOAP_LIB/RetrieveByIDandChain.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.saksinc.com/CommonModules/UniversalItemID/RetrieveByIDandChain" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ridgc="http://xmlns.saksinc.com/CommonModules/UniversalItemID/RetrieveByIDandChain" xmlns:uidtyp="http://xmlns.saksinc.com/CommonModules/UniversalItemID/Types">
    <xsd:import namespace="http://xmlns.saksinc.com/CommonModules/UniversalItemID/Types" schemaLocation="UniversalItemIDTypes.xsd"/>
    <xsd:element ibmSchExtn:docRoot="true" name="RetrieveByIDandChainRequest" type="uidtyp:RetrieveByIDandChainRequestType"/>
    <xsd:element ibmSchExtn:docRoot="true" name="RetrieveByIDandChainResponse" type="uidtyp:RetrieveByIDandChainResponseType"/>
    <xsd:element ibmSchExtn:docRoot="true" name="RetrieveByIDandChainFault" type="uidtyp:UniversalItemIDFaultType"/>
</xsd:schema>