IIB_POSLocator_LTItemInfo_SOAP_SVC/source/IIB_UniversalItemID_SOAP_LIB/UniversalItemIDMediator_ep.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="UniversalItemIDMediator" targetNamespace="http://xmlns.saksinc.com/CommonModules/UniversalItemID" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:uid="http://xmlns.saksinc.com/CommonModules/UniversalItemID">
    <wsdl:documentation>
        <abstractWSDL>http://jxn-ux-fusion11q.saksinc.com:8001/soa-infra/services/CommonModules/UniversalItemID!5.5/UniversalItemIDMediator.wsdl</abstractWSDL>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="execute_pttBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.saksinc.com/CommonModules/UniversalItemID" schemaLocation="UniversalItemID.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RetrieveByIDandChainRequest">
        <wsdl:part element="uid:RetrieveByIDandChainRequest" name="input"/>
    </wsdl:message>
    <wsdl:message name="RetrieveByIDandChainResponse">
        <wsdl:part element="uid:RetrieveByIDandChainResponse" name="output"/>
    </wsdl:message>
    <wsdl:message name="RetrieveInfoBySKNRequest">
        <wsdl:part element="uid:RetrieveInfoBySKNRequest" name="input"/>
    </wsdl:message>
    <wsdl:message name="RetrieveInfoBySKNResponse">
        <wsdl:part element="uid:RetrieveInfoBySKNResponse" name="output"/>
    </wsdl:message>
    <wsdl:message name="RetrieveByDeptClassRequest">
        <wsdl:part element="uid:RetrieveByDeptClassRequest" name="input"/>
    </wsdl:message>
    <wsdl:message name="RetrieveByDeptClassResponse">
        <wsdl:part element="uid:RetrieveByDeptClassResponse" name="output"/>
    </wsdl:message>
    <wsdl:message name="RetrieveInfoBySSNRequest">
        <wsdl:part element="uid:RetrieveInfoBySSNRequest" name="part"/>
    </wsdl:message>
    <wsdl:message name="RetrieveInfoBySSNResponse">
        <wsdl:part element="uid:RetrieveInfoBySSNResponse" name="part"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="retrieveByIDandChain">
            <wsdl:input message="uid:RetrieveByIDandChainRequest"/>
            <wsdl:output message="uid:RetrieveByIDandChainResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retrieveInfoBySKN">
            <wsdl:input message="uid:RetrieveInfoBySKNRequest"/>
            <wsdl:output message="uid:RetrieveInfoBySKNResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retrieveByDeptClass">
            <wsdl:input message="uid:RetrieveByDeptClassRequest"/>
            <wsdl:output message="uid:RetrieveByDeptClassResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retrieveInfoBySSN">
            <wsdl:input message="uid:RetrieveInfoBySSNRequest"/>
            <wsdl:output message="uid:RetrieveInfoBySSNResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retrieveRFSItemID">
            <wsdl:input message="uid:RetrieveByIDandChainRequest"/>
            <wsdl:output message="uid:RetrieveByIDandChainResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_pttBinding" type="uid:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="retrieveByIDandChain">
            <soap:operation soapAction="retrieveByIDandChain" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveInfoBySKN">
            <soap:operation soapAction="retrieveInfoBySKN" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveByDeptClass">
            <soap:operation soapAction="retrieveByDeptClass" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveInfoBySSN">
            <soap:operation soapAction="retrieveInfoBySSN" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveRFSItemID">
            <soap:operation soapAction="retrieveRFSItemID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UniversalItemIDMediator_ep">
        <wsdl:port binding="uid:execute_pttBinding" name="execute_pt">
            <soap:address location="http://jxn-ux-fusion11q.saksinc.com:8001/soa-infra/services/CommonModules/UniversalItemID/UniversalItemIDMediator_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>