IIB_POSLocator_LTItemInfo_SOAP_SVC/source/IIB_UniversalItemID_SOAP_LIB/UniversalItemID.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.saksinc.com/CommonModules/UniversalItemID" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:uid="http://xmlns.saksinc.com/CommonModules/UniversalItemID" xmlns:uidtyp="http://xmlns.saksinc.com/CommonModules/UniversalItemID/Types">
    <xsd:import namespace="http://xmlns.saksinc.com/CommonModules/UniversalItemID/Types" schemaLocation="UniversalItemIDTypes.xsd"/>
    <xsd:element ibmSchExtn:docRoot="true" name="RetrieveByIDandChainRequest" type="uidtyp:RetrieveByIDandChainRequestType"/>
    <xsd:element ibmSchExtn:docRoot="true" name="RetrieveByIDandChainResponse" type="uidtyp:RetrieveByIDandChainResponseType"/>
    <xsd:element ibmSchExtn:docRoot="true" name="RetrieveInfoBySKNRequest" type="uidtyp:RetrieveInfoBySKNRequestType"/>
    <xsd:element ibmSchExtn:docRoot="true" name="RetrieveInfoBySKNResponse" type="uidtyp:RetrieveInfoBySKNResponseType"/>
    <xsd:element ibmSchExtn:docRoot="true" name="RetrieveByDeptClassRequest" type="uidtyp:RetrieveByDeptClassRequestType"/>
    <xsd:element ibmSchExtn:docRoot="true" name="RetrieveByDeptClassResponse" type="uid:RetrieveItemInfoByDeptClassOutputCollection"/>
    <xsd:element ibmSchExtn:docRoot="true" name="RetrieveInfoBySSNRequest" type="uidtyp:RetrieveInfoBySSNRequestType"/>
    <xsd:element ibmSchExtn:docRoot="true" name="RetrieveInfoBySSNResponse" type="uid:RetrieveItemInfoBySSNOutputCollection"/>
    <xsd:element name="RetrieveByBorderSKNRequest" type="uidtyp:RetrieveByBorderSKNRequestType"/>
    <xsd:element name="RetrieveByBorderSKNResponse" type="uid:RetrieveByBorderSKNResponseCollection"/>
    <xsd:element name="RetrieveSKNByUPCRequest" type="uidtyp:RetrieveSKNByUPCRequestType"/>
    <xsd:element name="RetrieveSKNByUPCResponse" type="uidtyp:RetrieveSKNByUPCResponseType"/>
    <xsd:complexType name="RetrieveItemInfoByDeptClassOutputCollection">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="RetrieveItemInfoByDeptClassOutput" type="uidtyp:RetrieveByDeptClassResponseType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RetrieveItemInfoBySSNOutputCollection">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="RetrieveInfoBySSNResponse" type="uidtyp:RetrieveInfoBySSNResponseType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RetrieveByBorderSKNResponseCollection">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="RetrieveByBorderSKNResp" type="uidtyp:RetrieveByBorderSKNResponseType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="UniversalItemIDFault" type="uidtyp:UniversalItemIDFaultType"/>
</xsd:schema>