IIB_PrinterLookupService_SOAP_SVC/xml/retrievePrinterInfoREST_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="retrievePrinterInfoREST" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/http/Printer/PrinterLookupService/retrievePrinterInfoREST" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/http/Printer/PrinterLookupService/retrievePrinterInfoREST" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:msg_in_out="http://xmlns.hbc.com/CommonModules/PrinterLookupService" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:documentation>
    <abstractWSDL>http://jxn-ux-fusion11q.saksinc.com:8001/soa-infra/services/CommonModules/PrinterLookupService!2.0/retrievePrinterInfoREST.wsdl</abstractWSDL>
  </wsdl:documentation>
  <plt:partnerLinkType name="retrievePrinterInfoByStore_plt">
    <plt:role name="retrievePrinterInfoByStore_role">
      <plt:portType name="tns:retrievePrinterInfoByStore_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.hbc.com/CommonModules/PrinterLookupService" schemaLocation="retrievePrinterInfoREST.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="PrinterLookupRequest_msg_in">
    <wsdl:part name="PrinterLookupRequest" element="msg_in_out:PrinterLookupRequest"/>
  </wsdl:message>
  <wsdl:message name="PrinterLookupResponse_msg_out">
    <wsdl:part name="PrinterLookupResponse" element="msg_in_out:PrinterLookupResponse"/>
  </wsdl:message>
  <wsdl:message name="PrinterLookupFault_msg_out">
    <wsdl:part name="FaultPart" element="msg_in_out:PrinterLookupFault"/>
  </wsdl:message>
  <wsdl:portType name="retrievePrinterInfoByStore_ptt">
    <wsdl:operation name="retrievePrinterInfoByStore">
      <wsdl:input message="tns:PrinterLookupRequest_msg_in"/>
      <wsdl:output message="tns:PrinterLookupResponse_msg_out"/>
      <wsdl:fault name="fault" message="tns:PrinterLookupFault_msg_out"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="retrievePrinterInfoByStore_pttBinding" >
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="retrievePrinterInfoByStore">
      <soap:operation style="document" soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="retrievePrinterInfoByStore_ptHttpGET" >
    <http:binding verb="GET" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"/>
    <wsdl:operation name="retrievePrinterInfoByStore">
      <http:operation location="" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"/>
      <wsdl:input>
        <http:urlEncoded xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="retrievePrinterInfoREST">
    <wsdl:port name="retrievePrinterInfoByStore_pt_soappt" binding="tns:retrievePrinterInfoByStore_pttBinding">
      <soap:address location="http://jxn-ux-fusion11q.saksinc.com:8001/soa-infra/services/CommonModules/PrinterLookupService/retrievePrinterInfoREST"/>
    </wsdl:port>
    <wsdl:port name="retrievePrinterInfoByStore_pt" binding="tns:retrievePrinterInfoByStore_ptHttpGET">
      <http:address location="http://jxn-ux-fusion11q.saksinc.com:8001/soa-infra/services/CommonModules/PrinterLookupService/retrievePrinterInfoREST" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>